html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#controls, #settings {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  gap: 0.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
